 <div class="col-lg-4 col-md-4 col-sm-4"></div>
 <div class="col-lg-4 col-md-4 col-sm-4">
                	<div class="property_details_form">
                    	<h2>Interested to buy this property !</h2>
                        <form>

						<input placeholder="Name" type="text" ng-model="enquiry.name" />                            
                            <select class="test_design">
                            	<option>+91 INDIA</option>
                            </select>
                            <input placeholder="Mobile Number" class="mob_nu" type="text" ng-model="enquiry.number"/>
                            <div class="clearfix"></div>
							<a class="gcb_btn" ng-click="getcallBackForProperties(enquiry);">Get Call Back</a>
							<a class="read_d" href="#">read disclaimer</a>
                        </form>
                    </div>
                </div>
				<div class="col-lg-4 col-md-4 col-sm-4"></div>
				
				 <script type="text/ng-template" id="myModalContent.html">
         <div class="modal-header">
           <h3 class="modal-title">Message</h3> 
        </div> 
        <div class="modal-body">
            <b>{{ message}}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
	
		<script type="text/javascript">
		$(document).ready(function() {
		$('.test_design').niceSelect();
		});
</script>
	 